.profile-image {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(27, 73, 224);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: rgb(27, 73, 224);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: monospace;
}

p {
    /* text-align: justify; */
    /* width: 700px; */
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    margin: auto;
    /* margin: 10px;
    width: 700px; */
}

/* Styles for tablet */
@media screen and (max-width: 768px) {
    .section-container {
        width: 90%;
    }
}

/* Styles for mobile */
@media screen and (max-width: 480px) {
    .section-container {
        width: 100%;
    }
}

/* For the third section */
.section-container .row {
    display: flex;
    justify-content: start;
    align-items: start; /* Aligns items to the top */
    width: 100%;
}

.section-container .left-column {
    flex: 0.4;
    /* Add your styles for the left column here */
}

.section-container .right-column {
    flex: 1;
    /* Add your styles for the right column here */
}