h1 {
    color: rgb(27, 73, 224);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
h2 {
    color: rgb(27, 73, 224);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
a {
    font-family: monospace;
}
p {
    text-align: justify;
    width: 550px;
}

.section {
    padding: 10px;
    margin: 10px;
}